<%= form_with url: import_employees_path, method: :post do |f| %>
    <div class="container">
    <%= f.file_field :file, accept: ".csv" %>
    <div class="btn-group"> 
        <%= f.submit "Upload Employees", class: "btn btn-primary" %>
    </div>
<%end%>
